#include <iostream>

using namespace std;
int main()
{
    cout << "The game is started\nEnter your value:\n\n1 : (1, 1)\n2 : (1, 2)\n3 : (1, 3)\n4 : (2, 1)\n5 : (2, 2)\n6 : (2, 3)\n7 : (3, 1)\n8 : (3, 2)\n9 : (3, 3)\n0 : quit\n\n";
    int matrix[3][3], i, j;
    char n;
    for ( i = 0; i < 3; i++) {
		for ( j = 0; j < 3; j++) {
		    matrix[i][j] = 0;
		    if(matrix[i][j] == 0){
		        cout << '_' << ' ';
		    }
			else cout << matrix[i][j] << ' ';
		}
		cout << endl;
	}
	cout << endl;
	cin >> n;
	    switch(n){
	case 1: {cout << "odin";
	break;}
	case 2: {cout << "dva";
	break;}
	case 3: {cout << "tri";
	break;}
	case 4: {cout << "chetire";
	break;}
	case 5: {cout << "pyat";
	break;}
	case 6: {cout << "shest";
	break;}
	case 7: {cout << "sem";
	break;}
	case 8: {cout << "vosem";
	break;}
	case 9: {cout << "devat";
	break;}
	case 0: {cout << "quit";
	break;}
	default: {cout << "Choose other value";
	break;}
	}
	return 0;
}
